In [33]:
import pyodbc
import pandas as pd

In [34]:
import pyodbc 
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'tradedatabase.cqjr8z0s1k6r.us-east-1.rds.amazonaws.com' 
database = 'testdb' 
username = 'admin' 
password = 'KillLuke$429' 
connectionString = 'DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';Trusted_Connection=no;'

In [35]:
def excuteQuery(connectionString, query):
    resultSet = []
    with pyodbc.connect(connectionString) as conn:
        with conn.cursor() as cursor:
            cursor.execute(query)
            row = cursor.fetchone()
            while row:
                resultSet.append([value for value in row])
                row = cursor.fetchone()
    return resultSet

In [36]:
with open('test.sql') as file:
    query = file.read()

In [37]:
with open('findingColumnsNames.sql') as file:
    columnNameQuery = file.read()

In [48]:

pd.DataFrame(excuteQuery(connectionString, query.replace('\n','')),\
    columns = [columnName [0] for columnName in excuteQuery(connectionString,columnNameQuery.replace('\n','').replace('table','Persons'))])

   PersonID LastName FirstName
0         0   Angell    Nathan

In [46]:
test = [columnName [0] for columnName in excuteQuery(connectionString,columnNameQuery.replace('\n','').replace('table','Persons'))]

In [47]:
test

['PersonID', 'LastName', 'FirstName']

In [40]:
columnNameQuery.replace('\n','').replace('table','Persons')

"SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Persons';"