In [1]:
import pyodbc
import pandas as pd
#random comment

In [2]:
 # Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'tradedatabase.cqjr8z0s1k6r.us-east-1.rds.amazonaws.com' 
database = 'testdb' 
username = 'admin' 
password = 'KillLuke$429' 
connectionString = 'DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';Trusted_Connection=no;'

In [3]:
def excuteQuery(connectionString, query):
    resultSet = []
    with pyodbc.connect(connectionString) as conn:
        with conn.cursor() as cursor:
            cursor.execute(query)
            row = cursor.fetchone()
            while row:
                resultSet.append([value for value in row])
                row = cursor.fetchone()
    return resultSet

In [4]:
with open('test.sql') as file:
    query = file.read()

In [5]:
with open('findingColumnsNames.sql') as file:
    columnNameQuery = file.read()

In [6]:

pd.DataFrame(excuteQuery(connectionString, query.replace('\n','')),\
    columns = [columnName [0] for columnName in excuteQuery(connectionString,columnNameQuery.replace('\n','').replace('table','Persons'))])

   PersonID  LastName FirstName
0         0    Angell    Nathan
1         1  Therieau      Luke
2         2  Therieau      Luke
3         3  Therieau      Luke
4         4  Therieau      Luke
5         4  Therieau      Luke
6         4  Therieau      Luke

In [7]:
test = [columnName [0] for columnName in excuteQuery(connectionString,columnNameQuery.replace('\n','').replace('table','Persons'))]

In [8]:
table = "Persons"
columns = [columnName [0] for columnName in excuteQuery(connectionString,columnNameQuery.replace('\n','').replace('table','Persons'))] 
values = [4,"Therieau", "Luke"]
query = f"""INSERT INTO {table} ({','.join([f"{col}" for col in columns])}) VALUES ({','.join([f"'{val}'" for val in values])});"""

with pyodbc.connect(connectionString) as conn:
    with conn.cursor() as cursor:
        cursor.execute(query)

In [9]:
query

"INSERT INTO Persons (PersonID,LastName,FirstName) VALUES ('4','Therieau','Luke');"